.frame {
    position: absolute;
    background-color: var(--bg-color);
    width: 30vw;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 1;
}

.frame > div {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.frame iframe {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    pointer-events: none;
}