footer {
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    mix-blend-mode: difference;
    z-index: 1000;
}