.case {
    padding: .23rem 0;
    font-size: clamp(.8rem, 2vw, 1rem);
    overflow: hidden;
}

.case .container {
  transform: translateY(1.6rem);
}

.case .container .title {
    font-weight: 600;
    color: #fff;
}

.case .container .title,
.case .container .separator,
.case .container .director {
  display: inline-block;
  transition: color 0.2s ease;
}