header {
  padding: 7.5rem 1rem 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

section {
  margin-top: 2rem;
  padding: 0 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

section:hover {
  cursor: pointer;
}

section:hover .case .title,
section:hover .case .separator,
section:hover .case .source {
  color: var(--hover-color);
}

section .case:hover .title {
  color: #fff;
}

section .case:hover .separator,
section .case:hover .source {
  color: var(--text-color);
}