/* Layout */

main {
  padding: 0 1rem;
}

/* App */

header {
  padding-top: 7.5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

section {
  margin-top: 2rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

section:hover {
  cursor: pointer;
}

section:hover .case .title,
section:hover .case .separator,
section:hover .case .director {
  color: var(--hover-color);
}

section .case:hover .title {
  color: #fff;
}

section .case:hover .separator,
section .case:hover .director {
  color: var(--text-color);
}