@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --bg-color: #0c0b0b;
  --hover-color: #454549;
  --text-color: #D9DAD7;

  --font-family: Inter, Avenir, Helvetica, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    --text-color: #D9DAD7;
}

html {
  font-size: 16px;
}

body {
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  letter-spacing: -0.01rem;
  text-transform: uppercase;
}

nav a,
nav p,
footer a,
footer p {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
}

nav .logo a{
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0c0b0b;;
    --text-color: #D9DAD7;
  }
}